@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
  @apply overflow-x-auto p-4 text-xs;
}

pre code {
  counter-reset: step;
  counter-increment: step 0;
}

pre code .line::before {
  content: counter(step);
  counter-increment: step;
  @apply mr-6 inline-block w-6 text-right text-base-content/60;
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
